<h4>HEMSIDA REGLER & RIKTLINJER</h4>

<h1>§1 Rubrik</h1>
<h2>Trådens rubrik ska ge en korrekt bild av vad tråden handlar om.</h2>

<h1>§2 Trådstart och forumval</h1>
<h2>Se till att du postar ditt inlägg i rätt underforum. Inlägget skall ha anknytning till det ämne forumet avser. Om det redan finns en lämplig tråd för ditt inlägg, skapa inte en ny.</h2>

<h1>§3 Trams och off-topic</h1>
<h2>Inlägg som klassificeras som off-topic eller trams kan raderas utan förvarning och/eller motivering.</h2>

<h1>§4 Korspostning</h1>
<h2>Det är inte tillåtet att korsposta, det vill säga posta liknande inlägg i flera olika trådar.</h2>

<h1>§5 Avatar och signatur</h1>
<h2>Din avatar får inte innehålla något som kan uppfattas som olämpligt. Din avatar och signatur måste följa forumets regler och riktlinjer.</h2>

<h1>§6 Falsk ryktesspridning</h1>
<h2>Det är inte tillåtet att sprida påhittade uppgifter.</h2>

<h1>§7 Spoilerfunktionen</h1>
<h2>Vid postande av information som kan ses som känslig för andra, till exempel hur serier eller filmer slutar, ska spoilerfunktionen användas, om den finns.</h2>

<h1>§8 Bump</h1>
<h2>Det är förbjudet att väcka gamla trådar till liv om de inte längre är relevanta.</h2>

<h1>§9 Upphovsrättsskyddat material</h1>
<h2>Det är förbjudet att sprida eller publicera upphovsrättsskyddat material utan upphovsmannens tillstånd.</h2>

<h1>§10 Uppvigling</h1>
<h2>Det är strängt förbjudet att uppvigla och/eller organisera brottslig verksamhet från forumet.</h2>

<h1>§11 Pornografisk innehåll</h1>
<h2>Det är inte tillåtet att sprida och/eller efterfråga pornografiskt material.</h2>

<h1>§12 Användarnas anonymitet</h1>
<h2>Det är inte tillåtet att leta efter, posta, eller hota om att posta personliga uppgifter eller liknande information av en annan användare. Det är dock tillåtet att hänvisa eller posta personlig information som användaren i fråga själv redan uppgett på forumet. Det är inte heller tillåtet att koppla samman alternativa konto eller liknande mellan <%= locals.envVariables.websiteName + envVariables.websiteDomainEnd %>'s forum och andra.</h2>

<h1>§13 Flera konton</h1>
<h2>Det är inte tillåtet att ha flera konton.</h2>

<h1>§14 Hot och personangrepp</h1>
<h2>Personangrepp, trakasserier, hot eller liknande är strängt förbjudet.</h2>

<h1>§15 Narkotikahandel</h1>
<h2>All form av narkotikahandel är förbjuden.</h2>

<h1>§16 Spridning av datavirus och annan skadlig kod</h1>
<h2>Det är strängt förbjudet att medvetet sprida länkar till datavirus eller annan skadlig kod.</h2>

<h1>§17 Politik snack och diskussioner</h1>
<h2>Detta hör hemma och skall endast diskuteras på politik delen av forumet.</h2>

<h1>18 Politik i profilbild och signatur</h1>
<h2>Det är förbjudet att uttrycka politiska åsikter i profilbild och/eller i din signatur.</h2>

<h1>§19 Ohörsamhet</h1>
<h2>Ohörsamhet kan leda till varningar och/eller avstängningar. Bedömning sker unikt för varje fall.</h2>

<h1>§20 Kvalitet framför kvantitet</h1>
<h2>Det är strängt förbjudet att motarbeta den fria debatten i forumet. Det är även förbjudet att publicera inlägg som har låg kvalitet eller saknar diskussionsvärde.</h2>

<h1>§21 Användarnamn</h1>
<h2>Användarnamn som anses vara förväxlingsbara med någon annan medlem alternativt kan ses som en roll du inte befattar är förbjudna.</h2>

<h1>§22 Personliga ärenden</h1>
<h2>Personliga ärenden, diskussioner eller liknande skall inte ske i forumet. Använd istället PM funktionen.</h2>

<h1>§23 Svensk lag</h1>
<h2>Allt postande och innehåll skall följa svensk lag.</h2>

<h1>§24 Marknadsföring och annonsering</h1>
<h2>Det är i normala fallet förbjudet att annonsera och/eller marknadsföra egen eller andras verksamhet. Om du vill annonsera, kontakta <a href="mailto:<%= locals.envVariables.mailSupport %>" target="_top"><%= envVariables.mailSupport %></a>.</h2>

<h1>§25 Användare</h1>
<h2>Alla användarkonton är personliga och får varken överlåtas eller säljas. Det är även förbjudet att skapa ett nytt konto om ditt förra blir avstängt.</h2>

<h1>§26 Synpunkter på moderering</h1>
<h2>Vid synpunkter på ett modereringsfall, vänligen kontakta oss på <a href="mailto:<%= locals.envVariables.mailSupport %>" target="_top"><%= locals.envVariables.mailSupport %></a>.</h2>